# Secrets - NUNCA subir
.env
keys/
**/airflow-sa-key.json
dataform/.df-credentials.json

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Datos locales
data/raw/
data/processed/

# VS Code
.vscode/

# Airflow logs
airflow/logs/
airflow/dags/__pycache__/

# Docker
airflow/postgres-db-volume/

# Dataform
dataform/node_modules/
